.qa > div {
  cursor: pointer;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 800;
  /*font-size:  20vmin;*/
  font-size:  1vmin;
  will-change: transform, opacity;
  overflow-y: auto;
  /*text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;*/
  }

.buttonNext {
  position: relative;
  /*display:inline-block;*/
  right:0;
  padding: 0.3em 1.2em;
  margin: 1em 0.1em 0.1em 0;
  border: 0.16em solid rgba(255,255,255,0);
  border-radius: 2em;
  /*box-sizing: border-box;*/
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 0.2s;
  font-size: 2vmin;
  background-color: #f14e4e;
}
buttonNext:hover{
  border-color: rgba(255,255,255,1);
}

.bouncy {
  animation: bouncy 5s infinite linear;
  /*position: relative;*/
}

@keyframes bouncy {
    0% {top:0em}
    40% {top:0em}
    43% {top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}