
  .trails-main {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 2px 40px #00000020, 5px 5px 5px #00000030;
  }
  
  .trails-inner {
    display: flex;
    flex-direction: row;
  }
  
  .trails-title {
    position: relative;
    height: 0px;
    color: palevioletred;
    font-size: 5em;
    font-weight: 800;
    text-transform: uppercase;
    will-change: transform, opacity;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    background-color: rgba(0,0,0,0.05);
    /*line-height: 40px;*/
  }
  
  .trails-text {
    position: relative;
    color: palevioletred;
    font-size: 4vmin;
    /*font-weight: 800;*/
    /*text-transform: uppercase;*/
    will-change: transform, opacity;
    overflow: hidden;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0.05);
  }
  
  .trails-button > a {
    text-decoration: none;
    color: black;
    font-size: 3vmin;
    border: 3px solid #e9edf1;
    border-radius: 4vmin 4vmin 4vmin 4vmin;
    padding: 1vmin 1vmin 1.5vmin 1vmin;
    margin: 1vmin;
    display: flex;
    align-items: center;
  }
  
  .trails-button > a:hover {
    background: black;
    color: white;
    transition: color 0.5s ease, background-color 1s ease;
  }

